body{
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font: arial 20px;
    color:white;
    text-align: center;
    font-weight: 300;
}
div#tx{
    background-color: white;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    padding: 10px;
    color: blueviolet;
}
#res{
    color: white;
    text-align: center;
    padding: 5px;
}