body{
    background-color: rgba(231, 155, 234, 0.515);
    color: rgb(249, 244, 244);
    text-align: center;
    margin-top: 180px;
}
section{
    background-color: rgba(222, 147, 241, 0.532);
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px 5px;
    margin: auto;

}
#numero{
    width: 150px;
    height: 100px;
    border: 2px solid rgb(245, 240, 240);
    padding: px;
    margin-top: px;
}